@model IEnumerable<MemoTest.Models.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionDate)
            </td>
            <td>
                @Html.ActionLink(item.MarkedName, "Pin", new { item = item }) |
                @Html.ActionLink("Edit", "Edit", new { item = item }) |
                @Html.ActionLink("Details", "Details", new { item = item }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>