@model IEnumerable<MemoTest.Models.Note>

<h2>Notes</h2>

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div>Name: @Html.TextBox("Name") <input type="submit" value="Search" /></div>
    }
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr style="background-color:@item.MarkedBackground">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionDate)
            </td>
            <td>
                @Html.ActionLink(item.MarkedName, "Pin", item) |
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Delete", "Delete", item.Id)
            </td>
        </tr>
    }

</table>